*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

## AUR stuff
# ignore any files in the pkg directory
# ignore any files in the src directory
# ignore any aurget_*.zip files
# ignore any *.tar.xz files
pkg
src
aursearch_*.zip
*.tar.xz

